version: "3"
services:
    redis:
        image: {{ rd_image }}
        command: [ "/usr/local/etc/redis/redis.conf" ]
        restart: always
        network_mode: "host"
#        extra_hosts:
#            - "mysql:172.30.110.48"
#            - "redis:10.105.44.14"
#            - "elastic:172.30.110.48"

#        cpuset: "5,17"
        ports:
            - "{{ rd_port }}:{{ rd_port }}"
        volumes:
            - {{ rd_folder }}/redis.conf:/usr/local/etc/redis/redis.conf
            - {{ rd_folder }}/redis.log:/var/log/redis.log
